<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sobre la app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="card">
      <div class="image_equilibrium_Div">
        <img
          class="image_equilibrium_img"
          src="images/image-equilibrium.jpg"
          alt=""
        />
      </div>

      <div class="crd_text">
        <h3><a href="#"> Sistema gestor de estudiantes</a></h3>
        <p class="text">
          Proyecto de gestion de estudiantes creado en Ionic utilizando SQLite
          como base de datos
        </p>
      </div>

      <br />

      <p class="p_flex card_footer">
        <span class="text"> Creadores </span>
      </p>


      <div class="p_flex2">
        <span class="text"> <a href="#">Justin Salazar</a> </span>
        <span class="text"> & </span>
        <span class="text"> <a href="#">Alexander Viales</a> </span>
      </div>
    </div>
  </div>
</ion-content>
