<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Estudiantes </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-list>
      <ion-item>
        <app-buscador (metodo)="onBuscar($event)"></app-buscador>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-lista [elementos]="estudiantes" [palabraFiltro]="palabra"></app-lista>

  <!---MODAL--->

  <!--
  
    <ion-button
    (click)="getStudents()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Click me
  </ion-button>
  
  --->

  <!--BOTTON ACTION BUTTON-->
  <ion-fab
    (click)="abrirModalHelper()"
    slot="fixed"
    vertical="bottom"
    horizontal="end"
  >
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
