<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()" [strong]="true" id="crearEstudiante">{{
        modoEdicion ? "Editar" : "Crear"
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!---CONTENIDO-->
<ion-content class="ion-padding">
  <ion-item class="pb-1" *ngIf="!modoEdicion">
    <ion-input
      label="Cedula"
      label-placement="floating"
      fill="solid"
      placeholder="Ingrese cedula"
      [(ngModel)]="estudiante.cedula"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Nombre"
      label-placement="floating"
      fill="solid"
      placeholder="Ingrese el nombre"
      [(ngModel)]="estudiante.nombre"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      label="Carrera"
      label-placement="floating"
      fill="solid"
      placeholder="Ingrese la carrera"
      [(ngModel)]="estudiante.carrera"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-select
      label="Grado"
      label-placement="floating"
      [(ngModel)]="estudiante.grado"
    >
      <ion-select-option value="Primero">1°</ion-select-option>
      <ion-select-option value="Segundo">2°</ion-select-option>
      <ion-select-option value="Tercero">3°</ion-select-option>
      <ion-select-option value="Cuarto">4°</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<!---FIN CONTENIDO-->
